<mat-toolbar>
    <div class="logo">
        <img src="../../assets/img/LogoCave.png" alt="">
    </div>
    <span class="example-spacer"></span>
    <div class="menuOptions">
        <button mat-icon-button class="itemOptions" aria-label="Example icon-button with heart icon">
            Home
          </button>
          <button mat-icon-button class="itemOptions" aria-label="Example icon-button with heart icon">
              Charts
          </button>
          <button mat-icon-button class="itemOptions" aria-label="Example icon-button with heart icon">
              Trade
            </button>
          <button mat-icon-button class="itemOptions" aria-label="Example icon-button with heart icon">
              Multi Chart
            </button>
          <button mat-icon-button class="itemOptions" aria-label="Example icon-button with heart icon">
              Tools
            </button>
            <button mat-icon-button class="itemOptions" aria-label="Example icon-button with heart icon">
              Suscription
            </button>
            <button mat-icon-button class="itemOptions" aria-label="Example icon-button with heart icon">
              Advertise
            </button>
            <button mat-icon-button class="itemOptions" aria-label="Example icon-button with heart icon">
              Register
            </button>
            <button mat-icon-button class="itemOptions" aria-label="Example icon-button with heart icon">
              Login
            </button>  
    </div>  
  </mat-toolbar>

  <!-- <div class="publicidad1">
    Tu publicidad aqui
</div> -->

<!-- <div class="conten">
    <div class="cont1">
        <div class="item1">
            superior izq
        </div>
        <div class="publicidad3">
            tu 3 publicidad aqui
        </div>
    </div>
    <div class="cont2">
        <div class="item2">
            connect wallet
        </div>
        <div class="grafica">
            grafica de kriptos
        </div>
    </div>
    <div class="cont3">
        <div class="publicidad2">
            tu 2 publicidad aqui
        </div>
        <div class="item3">
            estrellitas
        </div>
    </div>
</div> -->
  
