<mat-toolbar>
  <div class="logo">
    <img src="../../assets/img/LogoCave.png" alt="">
  </div>
  <span class="example-spacer"></span>
  <div class="menuOptions">
    <div>
      <!-- <a mat-icon-button  mat-icon-a class="itemOptions" aria-label="Example icon-a with heart icon" [routerLink]="'/'">
      Home
    </a> -->
      <a mat-icon-button mat-icon-a class="itemOptions" aria-label="Example icon-a with heart icon" [routerLink]="'/'">
        Charts
      </a>
      <a mat-icon-button mat-icon-a class="itemOptions" aria-label="Example icon-a with heart icon"
        [routerLink]="'/trade'">
        Trade
      </a>
      <a mat-icon-button mat-icon-a class="itemOptions" aria-label="Example icon-a with heart icon"
        [routerLink]="'/multi-chart'">
        Multi Chart
      </a>
      <a mat-icon-button mat-icon-a class="itemOptions" aria-label="Example icon-a with heart icon"
        [routerLink]="'/tools'">
        Tools
      </a>
      <a mat-icon-button mat-icon-a class="itemOptions" aria-label="Example icon-a with heart icon">
        Suscription
      </a>
      <a mat-icon-button mat-icon-a class="itemOptions" aria-label="Example icon-a with heart icon">
        Advertise
      </a>
      <a mat-icon-button mat-icon-a class="itemOptions" aria-label="Example icon-a with heart icon"
        [matMenuTriggerFor]="menumyaccount">
        Account
      </a>
      <mat-menu #menumyaccount="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Register</span>
        </button>
      </mat-menu>
      <a mat-icon-button mat-icon-a class="itemOptions" aria-label="Example icon-a with heart icon"
        [matMenuTriggerFor]="menumywallet">
        My Wallet
      </a>
      <mat-menu #menumywallet="matMenu">
        <button mat-menu-item (click)="connect()" *ngIf="!isLogin">
          <mat-icon>account_balance_wallet</mat-icon>
          <span>Connect to Metamask</span>
        </button>
        <button mat-menu-item (click)="connectTrushWallet()" *ngIf="!isLogin">
          <mat-icon>account_balance_wallet</mat-icon>
          <span>Connect to Trust Wallet</span>
        </button>
        <button mat-menu-item (click)="connectBsc()" *ngIf="!isLogin">
          <mat-icon>account_balance_wallet</mat-icon>
          <span>Connect to Bsc</span>
        </button>
        <button mat-menu-item (click)="closeWallet()" *ngIf="isLogin">
          <mat-icon>logout</mat-icon>
          <span>Disconnect Wallet</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<!-- <div class="publicidad1">
    Tu publicidad aqui
</div> -->

<!-- <div class="conten">
    <div class="cont1">
        <div class="item1">
            superior izq
        </div>
        <div class="publicidad3">
            tu 3 publicidad aqui
        </div>
    </div>
    <div class="cont2">
        <div class="item2">
            connect wallet
        </div>
        <div class="grafica">
            grafica de kriptos
        </div>
    </div>
    <div class="cont3">
        <div class="publicidad2">
            tu 2 publicidad aqui
        </div>
        <div class="item3">
            estrellitas
        </div>
    </div>
</div> -->