<div>
    <div class="contenedor">
    <div class="publicidad">
        <img src="/assets/img/bannerfake.jpg" alt="">
    </div>
    <div>
        <h1>Tools</h1>
    </div>
    <div class="ToolTable">
        <ul>
            <li>Telegram Price Bot</li>
            <li>Multi Chart</li>
            <li>Trending (Most visited tokens)</li>
            <li>Sniper Bot Watcher</li>
            <li>Ape (New token scanner)</li>
            <li>Toilet (Farm yields)</li>
            <li>Rug Check</li>
            <li>External Tools</li>
        </ul>
    </div>
</div>
</div>
