.contenedor {
    width: 100%;
    text-align: center;
}
.publicidad {
    height: 15em;
    width: 80%;
    background-color: grey;
    margin-top: 1em;
    display: inline-block;
}
.tabla {
    height: 25em;
    width: 90%;
    background-color: grey;
    margin-top: 0.5em;
    display: inline-block;
}