<div class="publicidad1">
<img class="tamañoPubli" src="../../assets/img/dplnews_bitcoin_vr090221.gif" alt="">
</div>

<div class="flex-container">

    <div class="item1">
        <div class="tab1">
            <div>
                <div class="PanelBalance">
                    <span><b>Total Supply:</b></span><br />
                    <span>{{totalSupply}}</span>
                </div>

                <ul class="TableLinkBinance">
                    <li>
                        <img class="ImageLinksBinance" src="https://poocoin.app/images/logos/bscscan.png" alt="">
                        <a href="https://bscscan.com/token/{{token.link}}" target="_bank">{{token.symbol}}
                            Transactions</a>
                    </li>
                    <li>
                        <img class="ImageLinksBinance" src="https://poocoin.app/images/logos/bscscan.png" alt="">
                        <a href="https://bscscan.com/address/{{token.link}}#code" target="_bank">{{token.symbol}}
                            Contract</a>
                    </li>
                    <li>
                        <img class="ImageLinksBinance" src="https://poocoin.app/images/logos/bscscan.png" alt="">
                        <a href="https://bscscan.com/token/{{token.link}}#balances" target="_bank">{{token.symbol}}
                            Holders</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="publicidad3">
            <img class="tamañoPubli" src="../../assets/img/giphy (1).gif" alt="">
        </div>
    </div>
    <div class="item2">
        <div class="tab3">
            <div class="PanelBuscador">
                <div>
                    <img style="vertical-align:middle;" aria-hidden src="{{token.logo}}" height="20" />
                    <span>{{token.name}}/ BNB)</span>
                </div>
                <form [formGroup]="formGroup">
                    <mat-form-field class="AutoComplete">
                        <mat-label>
                            Enter token name / address
                        </mat-label>
                        <input formControlName="employee" matInput type="text" [matAutocomplete]="auto" />
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let item of filteredOptions" [value]="item.name"
                                (click)="selectCoin(item)">
                                <img style="vertical-align:middle;" aria-hidden src="{{item.logo}}" height="20" />
                                <span>{{ item.name }}</span>
                                <small style="display: block;line-height: 12px;">{{item.link}}</small>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <div class="tab4"></div>
    </div>
    <div class="item3">
        <div class="publicidad2">
            <img class="tamañoPubli" src="../../assets/img/giphy.gif" alt="">
        </div>
        <div class="tab5"></div>
    </div>
</div>

<div class="flex-container2">

    <div class="item4">
        <img class="tamañoPubli" src="../../assets/img/giphy2.gif" alt="">
    </div>
    <div class="item5">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 TxTable" >

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> address </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> value </th>
                <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef> timestamp </th>
                <td mat-cell *matCellDef="let element"> {{element.timestamp | date}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="gas">
                <th mat-header-cell *matHeaderCellDef> gas </th>
                <td mat-cell *matCellDef="let element"> {{element.gas}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="gasPrice">
                <th mat-header-cell *matHeaderCellDef> gasPrice </th>
                <td mat-cell *matCellDef="let element"> {{element.gasPrice}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="item6">
        <img class="tamañoPubli" src="../../assets/img/descarga.jpeg" alt="">
    </div>

</div>