.LeftAdvertisingPanel,
.RighttAdvertisingPanel {
  width: 30%;
}

.publicidad1 {
  width: 96%;
  height: 10em;
  background-color: yellow;
  margin-top: 1emng;
}

.flex-container {
  display: flex;
  // height: 100%;
  padding: 15px;
  gap: 5px;
  background-color: snow;
}

.tab1 {
  height: 35em;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.publicidad3 {
  margin-top: 0.5em;
  height: 10em;
  background-color: yellow;
}

.tamañoPubli {
  height: 100%;
  width: 100%;
}

.tab3 {
  height: 8em;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.tab4 {
  margin-top: 0.5em;
  height: 37em;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 1em;
  padding: 0.5em;
}

.publicidad2 {
  height: 10em;
  background-color: yellow;
}

.tab5 {
  margin-top: 0.5em;
  height: 35em;
  background-color: white;
}

.flex-container2 {
  display: flex;
  height: 100%;
  padding: 15px;
  gap: 5px;
  background-color: snow;
}

.ContentPanel {
  flex-grow: 1;
  height: 47.5em;
  width: 90%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 1em;
  max-width: 100%;
  overflow: auto;
  margin: 0 8px;
}

.SecondaryContentPanel {
  flex-grow: 1;
  height: 47.5em;
  width: 90%;
  background-color: white;
  border-radius: 1em;
  max-width: 100%;
  overflow: auto;
  margin: 0 8px;
}

.PanelBuscador {
  padding: 1em;
}

.AutoComplete {
  width: 100%;
  vertical-align: top;
}

mat-option {
  height: auto;
  text-transform: capitalize;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 1em;

  img {
    margin-right: 1em;
  }

  .networkImg {
    text-align: right;
    vertical-align: middle;
    float: right;
    margin: 0;
  }
}

.TableLinkBinance {
  list-style: none;
  padding: 1em;

  li {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;

    a {
      text-decoration: none;
      color: black;
    }

    img {
      margin-right: 0.5em;
      height: 3em;
      width: 3em;
    }
  }
}

.PanelBalance {
  padding: 1em;
  font-size: 1rem;
}

.TxTable {
  width: 100%;
}

.PanelInfoToken {
  text-transform: uppercase;

  .InformationButton {
    margin: 0 0.5em;

    .ImageLinksBinance {
      height: 2em;
      width: 2em;
    }
  }
}

.TradingViewControls {
  background-color: white;

  .mat-form-field-flex {
    background-color: white;
  }
}

.BlockChainSelect {
  background-color: white;
  border: none;
  border-left-color: currentcolor;
  border-left-style: none;
  border-left-width: medium;
  height: 100%;
  width: 40%;
  border-left: 1px solid #ccc;
}

tradingview-charting {
  height: 31em;
  width: 100%;
  display: inline-block;
}

.BalanceTable {
  width: 100%;
  display: inline-block;
  margin-left: 0.5em;
  border-left: 1px dashed #ccc;

  table {
    width: 100%;
    text-align: center;

    tr {
      border-bottom: 1px dashed #ccc;
    }
  }
}
