<div class="publicidad1">

</div>

<div class="flex-container">

    <div class="item1">
        <div class="tab1"></div>
        <div class="publicidad3"></div>
    </div>
    <div class="item2">
        <div class="tab3"></div>
        <div class="tab4"></div>
    </div>
    <div class="item3">
        <div class="publicidad2"></div>
        <div class="tab5"></div>
    </div>
</div>

<div class="flex-container2">

    <div class="item4">tu publicidadaqui4</div>
    <div class="item5"></div>
    <div class="item6">tupublicidadaqui5</div>

</div>

