<body>



    <div>
        <div class="barra1">
            Workdoge.com
        </div>
        <div class="contenedor">
            <div class="cont1">
                HODL
            </div>
            <div class="cont2">
                LIQUIDEZ
            </div>
        </div>
        <div class="barra3p">
            <div class="combo"></div>
            <div class="search"></div>
            <div class="publicidad6"></div>
        </div>


        <div class="flex-container">

            <div class="item1">publicidad3</div>
            <div class="item2">
                <div class="conte">
                    <div class="grafica"></div>
                    <div class="tabla"></div>
                </div>
                <div class="conten">
                    <div class="publicidad5"></div>
                    <div class="publicidad7"></div>
                </div>
                <div class="video">
                <iframe src="https://www.youtube.com/embed/HjCY9MFnrZ8" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
            </div>
            <div class="item3">publicidad4</div>

        </div>


    </div>

</body>