<section class="HomePage">
    <div>
        <div class="PanelCarrousel">
            <mat-carousel timings="250ms ease-in" [autoplay]="true" [interval]="intervalSlide" color="accent"
                maxWidth="auto" [proportion]="proportionSlide" [slides]="numSlide" [loop]="true" [hideArrows]="false"
                [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
                <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
                    overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
            </mat-carousel>
        </div>
        <div class="TopAdvertisingPanel">
            <div>
                <img class="tamañoPubli" src="../../assets/img/crypto-news-crypto.gif" alt="">
            </div>
            <div>
                <img class="tamañoPubli" src="../../assets/img/crypto-news-crypto.gif" alt="">

            </div>
        </div>
        <div class="OperationsBar">
            <div class="combo"></div>
            <div class="search">
                <form [formGroup]="formGroup">
                    <mat-form-field class="AutoComplete">
                        <mat-label>
                            Enter token name / address
                        </mat-label>
                        <input formControlName="employee" matInput type="text" [matAutocomplete]="auto" />
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let item of filteredOptions" [value]="item.name"
                                (click)="selectCoin(item)">
                                <img style="vertical-align:middle;" aria-hidden src="{{item.logo}}" height="20" />
                                <span>{{ item.name }}</span>
                                <small style="display: block;line-height: 12px;">{{item.link}}</small>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>
            <div class="publicidad6">
                <img class="tamañoPubli"
                    src="../../assets/img/https___bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com_public_images_81f179e5-f4a6-4451-af6a-54b5dd5049db_480x270.gif"
                    alt="">
            </div>
        </div>


        <div class="PanelPrincipal">

            <div class="LeftAdvertisingPanel">
                <img class="tamañoPubli" src="../../assets/img/giphy2.gif" alt="">
            </div>
            <div class="ContentPanel">
                <div class="conte">
                    <div class="grafica"></div>
                    <div class="tabla"></div>
                </div>
                <div class="conten">
                    <div class="publicidad5">
                        <img class="tamañoPubli" src="../../assets/img/criptomonedas-gif.gif" alt="">
                    </div>
                    <div class="publicidad7">
                        <img class="tamañoPubli" src="../../assets/img/giphy3.gif" alt="">

                    </div>
                </div>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/feb1wENRzvk" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="RighttAdvertisingPanel"><img class="tamañoPubli" src="../../assets/img/bitco.jpg" alt=""></div>

        </div>


    </div>

</section>